// COLORS

$bright-cyan: #11b6ae;
$light-cyan: #a4ffe8;
$very-dark-cyan: hsl(183, 100%, 15%); // #00494D
$dark-grayish-cyan: hsl(186, 14%, 43%); // #5E7A7D
$dark-grayish-cyan-2: hsl(184, 14%, 56%); // #7F9C9F
$light-grayish-cyan: hsl(185, 41%, 84%); // #C5E4E7
$light-grayish-cyan-2: hsl(189, 41%, 97%); // #F4FAFA
$white: hsl(0, 0%, 100%); // #ffffff
$orange: hsl(37, 100%, 50%);

//FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// PADDINGS
$standard-padding: 3rem;
$standard-margin: 3rem;

// BORDER RADIUS
$standard-border-radius: 1.5rem;
$button-border-radius: 0.5rem;

// BUTTONS
$standard-button-height: 5rem;
